<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <title>Links to check</title>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body>
    <a href="http://127.0.0.1:5000/get_posts">http://127.0.0.1:5000/get_posts</a> To check all posts<hr>
    <a href="http://127.0.0.1:5000/get_sideLinks">http://127.0.0.1:5000/get_posts</a> To check all posts<hr>
    <a href="http://127.0.0.1:5000/get_comments">http://127.0.0.1:5000/get_comments</a> To check all posts<hr>
    <a href="http://127.0.0.1:5000/get_users">http://127.0.0.1:5000/get_users</a> To check all users<hr>
    <a href="http://127.0.0.1:5000/add_post">http://127.0.0.1:5000/add_post</a> To add a post<hr>
    <a href="http://127.0.0.1:5000/add_comment">http://127.0.0.1:5000/add_comment</a> To add a post<hr>
    <a href="http://127.0.0.1:5000/discussions/sports">http://127.0.0.1:5000/discussions/sports</a> Sports posts<hr>
    <a href="http://127.0.0.1:5000/discussions/programming">http://127.0.0.1:5000/discussions/programming</a> Programming posts<hr>
    <a href="http://127.0.0.1:5000/post/1">http://127.0.0.1:5000/post/1</a> Change By 2 or 3<hr>
    <a href="http://127.0.0.1:5000/update_post/1" style="pointer-events: none"> To Update Post</a><hr>
    <a href="http://127.0.0.1:5000/update_email" style="pointer-events: none"> To Update User Email</a><hr>
    <a href="http://127.0.0.1:5000/update_password" style="pointer-events: none"> To Update User Password</a><hr>
    <a href="http://127.0.0.1:5000/reset_password" style="pointer-events: none"> To Reset Forgotten Password</a><hr>
    <a href="http://127.0.0.1:5000/get_secQues/nehal.abd24@gmail.com" style="pointer-events: none"> To Get Security Question for Email Change</a><hr>
    <a href="http://127.0.0.1:5000/update_comment/1" style="pointer-events: none"> To Update Comment</a><hr>
    <a href="http://127.0.0.1:5000/delete_post/2" style="pointer-events: none"> To Delete Post</a><hr>
    <a href="http://127.0.0.1:5000/delete_comment/2" style="pointer-events: none"> To Delete Comment</a><hr>
    <a href="http://127.0.0.1:5000/deleteParent/2" style="pointer-events: none"> To Delete Comment</a><hr>
    <a href="http://127.0.0.1:5000/get_sortedPosts/General?sort=top/2" style="pointer-events: none"> To Delete Comment</a><hr>


</body>
</html>